language: python
python:
  - "3.7"
before_install:
  - sudo apt-get update
  - make system-dependencies
install:
  - pip install wheel
  - pip install codecov
  - pip install -r requirements.txt
script:
  - python -m pytest --cov=hermit --cov-config=tests/.coveragerc --ignore=vendor
  - python -m black hermit tests scripts *.py
  - python -m flake8 hermit tests scripts *.py
  - python -m mypy -p hermit
after_success:
  - codecov
